#estimate{
	margin-top: 0px;
	margin-left: 420px;
	text-align: left;
	border: outset;
	width: 970px;
	height: 150px;
	background-color: white;
}

#e_Photo img{
	float: left;
	width : 150px;
	height: 140px;
	margin-right: 15px;
}

#e_Photo{
	width: 100px;
	margin-left: 0px;
}

#estimateInfo{
	margin-top: 10px;
	margin-left: 100px;
	margin-bottom : 60px;
	background-color: white;
}

.expectation{
	border-top-style: outset;
	margin-top: 15px;
	margin-bottom: 20px;
}

.h2{
	margin-top: -50px;
	margin-left: 310px;
	font-size: 24px;
	font-family: 'Nanum Gothic Coding', monospace;
}

ul{
	list-style: none;
}

.district{
	margin-top: 30px;
	margin-bottom: 5px;
}