@CHARSET "UTF-8";

#container{
	margin-left: 35%;
}

#info{
	margin-left: 50px;
}
#sel_d{
	float: left;
	margin-right: 50px;
}

#sel_s{
	float: left;
	margin-right: 50px;
}

#district_select{
	margin-bottom: 80px;
}

.expertInfo img{
	float: left;
	width: 110px;
	height: 110px;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;
}

.expertInfo{
	margin-bottom: 50px;
	height: 150px;
	width: 600px;
	border-style: outset;
}
