@CHARSET "UTF-8";

#container{
	margin-left: 30%;
}

#info{
	margin-left: 50px;
}
#sel_d{
	float: left;
	margin-right: 30px;
}

#sel_s{
	float: left;
	margin-right: 30px;
}

#sel_orderby{
	float: left;
	float: right;
}
#district_select{
	width: 600px;
	margin-bottom: 80px;
}

.filter{
	list-style: none;
	padding: 10px;
	border: 1px solid;
	border-color: #e8e7e6;
	background: white;
}

.star{
	width: 15px;
	height: 15px;
	margin-right: 3px;
}
.profile{
	float: left;
	width: 90px;
	height: 90px;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 15px;
}

.expertInfo{
	height: 130px;
	width: 650px;
	border-bottom: 1px solid;
	border-color: #e8e7e6;
	padding-top: 5px;
}

.expertInfo:hover{
	background: #e8e7e6;
}

.info{
	padding-top: 15px;
	padding-left: 10px;
}