@CHARSET "UTF-8";

#search{
   width: 800px;
   margin-left: 500px;
   margin-top: 30px;
   padding-bottom: 80px;
   position: relative;
}

#searchKey{
   border-color: #4092f1;
   padding: 10px;
}

#searchBtn{
	padding: 15px;
	border-radius: 10px;
	background: #4092f1;
	color: white;
	font-size: 12px;
}

.largelist{
	border-radius: 10px;
	border-style: solid;
	float: left;
	padding: 10px;
	margin-right: 40px;
	width: 100px;
	height: 100px;
	text-align: center;
	border-style: outset;
	background: white;
}

.part{
	font-size: 12px;
	font-weight: bold;
}

#group{
	margin-left: 130px;
	margin-top: 100px;
	margin-bottom: 300px;
	width: 700px;
}

.largelist img{
	float: none;
	width: 65px;
	height: 50px;
	margin-bottom: 5px;
}

.modal-body .part{
   font-size: 13px;
   font-weight: normal;
}

#searchresults{
   width: 260px;
   height: 300px;
   border-style: solid;
   border-color: #4092f1;
   position: absolute;
   background: white;
}

#searchform{
   margin-bottom: 0px;
   display: inline-block;
}

#semi{
   display: inline-block;
}
#search-ul li{
   float: left;
   font-size: 12px;
   margin-left: 5px;
   padding : 0;
}

#mainImage img{
	width: 550px;
	height: 600px;
	filter:blendTrans(duration=1); 
	overflow: hidden;
	position: absolute;
	margin-left: 530px;
}

.recommendInfo{
	margin-top: 500px;
	margin-bottom: 30px;
	margin-left: 360px;
}

.rcm-img{
   width: 280px;
   height: 170px;
   border-radius: 4px;
   margin-bottom: 0px;

}
.rc-img{
	width: 15px;
	height: 15px;
}
.recommend{
  margin-left: 350px;
   margin-bottom: 100px;
    width:    65%;
   display: inline-block;
   text-align: center;
} 

.recommendService{

   margin-right: 0px;
   text-align: center;
   margin-bottom: 10px;
   border: solid 0.8px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 12px;
    width: 280px;
   
} 
