#sendRequestForm{
	margin-left: 150px;
}


.sendOneRequest{
	border: 1px solid #e1e3e3;
	width: 350px;
	height: 385px; 
	text-align: center;
	float: left;
	margin-left: 30px;
	margin-top: 15px;
	background-color: white; 
	border-radius: 4px;
}

#sendPart{
	border-bottom: solid 0.5px;
	border-bottom-color: inherit;
	padding-top : 10px;
	padding-bottom: 10px;
}

.send{
	margin-top: 50px;
	margin-left: 180px;
}

#detailPart{
	height : 80px;
	margin-top: 30px;
}

#detail{
  font-weight: bold;
  text-align: left;
}

.recommendInfo{
	margin-top: 500px;
	margin-bottom: 30px;
	margin-left: 180px;
}

.img{
	width: 370px;
	height: 211px;
	border-radius: 4px;
	margin-bottom: 0px;
	margin-left: 17px;
	padding-left: 24px;
	
}

 #recommend{
	margin-left: 150px;
	margin-bottom: 100px;
} 

 #recommendService{
	/* float: left; */
	margin-right: 0px;
	text-align: center;
	margin-bottom: 10px;
	border: solid 0.8px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 12px;
    /* background-color: white;  */
} 

#best{
	margin-top: -30px;
	margin-bottom: 30px;
	margin-left: 180px;
}

#bestPopular{
	margin-left: 180px;
	margin-bottom: 800px;
}

.cancelContents{
	color: red;
}

#sendTime{
	margin-top: 20px;
}

.btn-btn-default{
	background-color : #4a7bf8;
	border-color: #4a7bf8;
    color: #fff;
    width: 150px;
    height: 35px;
    border-radius: 4px;
    font-weight: bold;
}

.btn-btn-default:hover{
	    background-color: #5986f9;
}

.cancelRequest{
	margin-bottom: 5px;
    border-color: inherit;
	border-radius: 4px;
	opacity: 0.7;
}

#recommend_btn{
	width: 100px;
	height: 40px;
	margin-left: 1400px;
	margin-bottom: 20px;
    background-color : #4a7bf8;
	border-color: #4a7bf8;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
}

#recommend_btn:HOVER{
	background-color: #5986f9;
}


#best_btn{
	width: 100px;
	height: 40px;
	margin-bottom: 20px;
    background-color : #4a7bf8;
	border-color: #4a7bf8;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
}

#best_btn:HOVER{
	background-color: #5986f9;
}


.slick-slide{
	width: 370px;
}






