.register_box{
	margin-top:200px;
	margin-left: 750px;
	margin-right: 750px;
	margin-bottom: 200px !important;
    border: 5pt groove #00c7ae;
	/* display: table-cell; */
    vertical-align: middle;
    text-align: center;
    font-family: fantasy;
    font-style: oblique;
    font-size: 13px;
  
}
.mainregist{
	margin-top:200px;
	margin-left: 750px;
	margin-right: 750px;
	margin-bottom: 200px !important;
}
.login_box{
	    margin-top:200px;
	margin-left: 750px;
	margin-right: 750px;
	margin-bottom: 200px !important;
    border: 5pt groove #00c7ae;
/* 	display: table-cell;*/
    vertical-align: middle;
        text-align: center;
        font-family: fantasy;
        font-style: oblique;
        font-size: 13px;

}

.member_register_box{
	padding: 10px;
	display: inline-block;
   margin-right: -4px;
   padding-right:20px;
   margin-bottom: 10px;
   border: solid 0.8px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 12px;
    width: 200px;
    height:200px;
    float:left;
}

.expert_register_box{
	padding: 10px;
	display: inline-block;
  margin-right: 0px;
   margin-bottom: 10px;
   border: solid 0.8px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 12px;
    width: 200px;
    height:200px;
    float:right;
}



html {
    display: table;
    margin: auto;
}

html, body {
    height: 100%;
}



#registerForm {
    width: 280px;
     font-size: 0.9rem;
    margin: 0;
    padding: 0;
	text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
}

.login-form-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
}

.login-text {
    margin-top: -6px;
    margin-left: -6px !important;
}

.margin {
    margin: 0 !important;
}

.pointer-events {
    pointer-events: auto !important;
}

.input-field >.material-icons  {
    padding-top:10px;
}

.input-field div.error{
    position: relative;
    top: -1rem;
    left: 3rem;
    font-size: 0.8rem;
    color:#FF4081;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}