.register_box{
	margin: auto;
    width: 400px;
	margin-top: 20%;
	margin-bottom: 20%;
	border:solid 2px #b7ddf2;
	background:rgba(220, 220, 220, 0.45);
	background-image: url("/resources/images/hima.png");
	background-position: top;
	padding: 10px;
	opacity:0.2;
	text-align: center; 
	border-radius: 2px;
	border-radius: 10px;
	font-size: 2rem;
}
.register_box a{
	font-weight:bold;
	color:#337ab7;
}
.register_box p{
	font-weight:bold;
	font-size: 3rem;
}
.register_box p text{
	text-shadow: black;
}
.mainregist{
	margin:10px;
	width:400px;
	padding:14px;
}
.user-signup{
	width:400px;
	height:200px;
	background-image: url("/resources/images/cookingHelper.JPG");
	border:solid 2px #b7ddf2;
	text-align: center;
}
.pro-signup{
	width:400px;
	height:200px;
	border:solid 2px #b7ddf2;
	text-align: center;
}