<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosta.soomgosusta.mapper.AlarmMapper">

	<select id="getAlarmList" resultType="kosta.soomgosusta.domain.AlarmVO">
		select * from alarm where receiver = #{receiver} AND al_Check='NOT'
	</select>
	
	<insert id="alarmRequestInsert">
		INSERT INTO alarm VALUES(alarm_seq.nextval,'request','NOT',sysdate,'요청서가 도착했습니다.',#{sender},#{receiver})
	</insert>
	
	<select id="alarmCount" resultType="int">
		select count(*) from alarm where receiver=#{receiver} AND al_Check='NOT'
	</select>
	
	<update id="alarmCheckUpdate">
		update alarm set al_Check = 'READ' where al_Seq=#{al_Seq}
	</update>
   
   <insert id="insertSDAlarm" parameterType="String">
   		INSERT INTO ALARM VALUES(ALARM_SEQ.NEXTVAL, 'schedule', 'NOT', sysdate, '일정이 등록되었습니다.', #{e_Id}, #{m_Id})
   </insert>
   
   <insert id="insertIQAlarm" parameterType="String">
      		INSERT INTO ALARM VALUES(ALARM_SEQ.NEXTVAL, 'inquiry', 'NOT', sysdate, '문의가 들어왔습니다.', #{m_Id}, #{e_Id})
   </insert>
   
   <insert id="insertRPAlarm" parameterType="String">
      		INSERT INTO ALARM VALUES(ALARM_SEQ.NEXTVAL, 'reply', 'NOT', sysdate, '댓글이 달렸습니다.', #{e_Id}, #{m_Id})
   </insert>
</mapper>


	
