<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosta.soomgosusta.mapper.ChatRoomMapper">


	<insert id="insert">
		insert into chatroom
		values(chatroom_seq.nextval,#{e_Seq})

	</insert>


	<select id="getList" resultMap="ChatRoomMap" parameterType="String">
		select
		a.crno,a.e_seq,
		b.e_seq,b.e_amountpart,b.e_amount,b.e_date,b.e_contents,b.l_seq,
		c.l_seq,c.r_seq,c.e_id,
		d.r_seq,d.m_id,d.p_seq,
		e.p_seq,e.p_l_word,e.p_m_word,e.p_s_word,
		f.m_name,f.m_photo,f.m_address
		FROM chatroom a JOIN estimate b
		ON
		a.e_seq = b.e_seq
		JOIN link c
		ON b.l_seq = c.l_seq
		JOIN request d
		ON
		c.r_seq =
		d.r_seq
		JOIN part e
		ON d.p_seq = e.p_seq
		JOIN member f
		ON d.m_id
		= f.m_id
		JOIN expert g
		ON g.e_id = c.e_id
		WHERE g.e_name = #{name}
		order
		by crno desc
	</select>
	
	<select id="get" resultType="kosta.soomgosusta.domain.ChatRoomVO">
		select * from chatroom 
		Where crno = #{crno}
	</select>

	<select id="findExpertName" resultMap="ChatRoomMap">
		select
		e_name
		from CHATROOM a JOIN ESTIMATE b
		on a.E_SEQ =
		b.E_SEQ
		JOIN LINK c
		on b.L_SEQ = c.L_SEQ
		JOIN expert d
		on c.E_ID = d.E_ID
		where a.crno = #{crno}
	</select>

	<select id="findMemberName" resultMap="ChatRoomMap">
		select
		m_name
		from CHATROOM a JOIN ESTIMATE b
		on a.E_SEQ = b.E_SEQ
		JOIN LINK c
		on b.L_SEQ = c.L_SEQ
		JOIN REQUEST d
		on c.R_SEQ = d.R_SEQ
		JOIN MEMBER e
		on d.m_ID = e.M_ID
		where a.crno = #{crno}
	</select> 
	
	<select id="getMemberList" resultMap="ChatRoomMap">
		select
		a.crno,a.e_seq,
		b.e_seq,b.e_amountpart,b.e_amount,b.e_date,b.e_contents,b.l_seq,
		c.l_seq,c.r_seq,c.e_id,
		d.r_seq,d.m_id,d.p_seq,
		e.p_seq,e.p_l_word,e.p_m_word,e.p_s_word,
		f.m_name,f.m_photo,f.m_address,
		g.e_name,g.e_photo,g.e_address
		FROM chatroom a JOIN estimate b
		ON
		a.e_seq = b.e_seq
		JOIN link c
		ON b.l_seq = c.l_seq
		JOIN request d
		ON
		c.r_seq =
		d.r_seq
		JOIN part e
		ON d.p_seq = e.p_seq
		JOIN member f
		ON d.m_id
		= f.m_id
		JOIN expert g
		ON g.e_id = c.e_id
		WHERE f.m_name = #{name}
		order
		by crno desc
	</select>


	<resultMap type="kosta.soomgosusta.domain.ChatRoomVO" id="ChatRoomMap">
		<result column="crno" property="crno" />
		<result column="e_seq" property="e_Seq" />
		<collection property="member" resultMap="Member" />
		<collection property="part" resultMap="Part" />
		<collection property="request" resultMap="Request" />
		<collection property="link" resultMap="Link" />
		<collection property="estimate" resultMap="Estimate" />
		<collection property="expert" resultMap="Expert" />
	</resultMap>

	<resultMap type="kosta.soomgosusta.domain.LinkVO" id="Link">
		<result column="l_seq" property="l_Seq" />
		<result column="r_seq" property="r_Seq" />
		<result column="l_date" property="l_Date" />
		<result column="l_percent" property="l_Percent" />
		<result column="e_id" property="e_Id" />
		<result column="l_enter" property="l_Enter" />
		<result column="l_status" property="l_Status" />
	</resultMap>

	<resultMap type="kosta.soomgosusta.domain.MemberVO" id="Member">
		<result column="m_id" property="m_Id" />
		<result column="m_password" property="m_Password" />
		<result column="m_name" property="m_Name" />
		<result column="user_divide" property="user_Divide" />
		<result column="m_photo" property="m_Photo" />
	</resultMap>

	<resultMap type="kosta.soomgosusta.domain.PartVO" id="Part">
		<result column="p_seq" property="p_Seq" />
		<result column="p_image" property="p_Image" />
		<result column="p_l_word" property="p_L_Word" />
		<result column="p_m_word" property="p_M_Word" />
		<result column="p_s_word" property="p_S_Word" />
	</resultMap>

	<resultMap type="kosta.soomgosusta.domain.RequestVO" id="Request">
		<result column="r_seq" property="r_Seq" />
		<result column="m_id" property="m_Id" />
		<result column="p_seq" property="p_Seq" />
		<result column="r_qa_01" property="r_QA_01" />
		<result column="r_qa_02" property="r_QA_02" />
		<result column="r_qa_03" property="r_QA_03" />
		<result column="r_qa_04" property="r_QA_04" />
		<result column="r_qa_05" property="r_QA_05" />
		<result column="r_qa_06" property="r_QA_06" />
		<result column="r_qa_07" property="r_QA_07" />
		<result column="r_qa_08" property="r_QA_08" />
		<result column="r_qa_09" property="r_QA_09" />
		<result column="r_qa_10" property="r_QA_10" />
		<result column="r_qa_11" property="r_QA_11" />
		<result column="r_qa_12" property="r_QA_12" />
		<result column="r_qa_13" property="r_QA_13" />
		<result column="r_qa_14" property="r_QA_14" />
		<result column="r_qa_15" property="r_QA_15" />
		<result column="r_date" property="r_Date" />
		<result column="r_status" property="r_Status" />

	</resultMap>

	<resultMap type="kosta.soomgosusta.domain.EstimateVO" id="Estimate">
		<result column="e_seq" property="e_Seq" />
		<result column="e_amount" property="e_Amount" />
		<result column="e_amountpart" property="e_AmountPart" />
		<result column="l_seq" property="l_Seq" />
		<result column="e_status" property="e_Status" />
		<result column="e_date" property="e_Date" />
		<result column="e_contents" property="e_Contents" />
	</resultMap>

	<resultMap type="kosta.soomgosusta.domain.ExpertVO" id="Expert">
		<result column="e_id" property="e_Id" />
		<result column="e_password" property="e_Password" />
		<result column="e_name" property="e_Name" />
		<result column="user_divide" property="user_Divide" />
		<result column="e_photo" property="e_Photo" />

	</resultMap>


</mapper>