<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosta.soomgosusta.mapper.ExpertMapper">

	<insert id="register">
		insert into Expert values(#{e_Id},#{e_Password},
		#{e_Name},'expert',
		' ' ,'default_userImg',#{e_Rc})
	</insert>
	
	<select id="login" parameterType="String" resultType="kosta.soomgosusta.domain.ExpertVO">
		select * 
		from Expert
		where e_Id=#{login_Id}
	</select>
	
	<select id="findExpert" parameterType="String" resultType="kosta.soomgosusta.domain.ExpertVO">
		select * 
		from Expert
		where e_Id=#{login_Id}
	</select>
	
	<select id="getProfile" parameterType="String" resultType="kosta.soomgosusta.domain.E_ProfileVO">
		select *
		from E_Profile
		where e_Id=#{e_Id}
	</select>
	
	<update id="updateEPhoto" parameterType="HashMap">
	 	update expert set e_Photo =#{e_Photo}
	 	where e_Id=#{e_Id}
	</update>
	
	<update id="updateProfile">
		update E_Profile set ep_Ol = #{ep_Ol}, ep_Dl= #{ep_Dl} 
		where e_Id=#{e_Id}
	</update>
	
   <insert id="insertExpertInfo" parameterType="kosta.soomgosusta.domain.ExpertInfoVO">
        insert into e_info values (#{e_Id}, #{ei_Time}, #{ei_District}, #{ei_Start}, #{p_Seq}, #{ei_Gender})
        
   </insert>
	
</mapper>
