<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosta.soomgosusta.mapper.LinkMapper">

	<select id="getList" resultMap="LinkMap">
		select 
		a.l_percent,a.l_date,a.l_seq,a.r_seq,a.l_enter,a.l_status,
		b.m_name,b.m_photo,
		c.p_l_word,c.p_m_word,c.p_s_word,
		d.r_status,d.r_date
		FROM link a join request d
		ON a.r_seq = d.r_seq
		JOIN part c
		ON d.p_seq = c.p_seq
		JOIN member b
		ON d.m_id = b.m_id
		WHERE a.e_id = #{e_Id}
	</select>
	
	<select id="getListName" resultMap="LinkMap" parameterType="String">
		select 
		a.l_percent,a.l_date,a.l_seq,a.r_seq,a.l_enter,a.l_status,a.e_id,
		b.m_name,b.m_photo,
		c.p_l_word,c.p_m_word,c.p_s_word,
		d.r_status,d.r_date,
		f.e_name
		FROM link a join request d
		ON a.r_seq = d.r_seq
		JOIN part c
		ON d.p_seq = c.p_seq
		JOIN member b
		ON d.m_id = b.m_id
		JOIN expert f
		ON f.e_id = a.e_id
		WHERE f.e_name= #{name}
	</select>
	
	<select id="read" resultMap="LinkMap">
		select
		a.l_seq,
		b.m_name,b.m_photo,
		c.p_l_word,c.p_m_word,c.p_s_word,
		d.m_id,
		d.r_qa_01,d.r_qa_02,d.r_qa_03,d.r_qa_04,d.r_qa_05,d.r_qa_06,d.r_qa_07,d.r_qa_08,
		d.r_qa_09,d.r_qa_10,d.r_qa_11,d.r_qa_12,d.r_qa_13,d.r_qa_14,d.r_qa_15,d.r_date
		FROM link a join request d
		ON a.r_seq = d.r_seq
		JOIN part c
		ON d.p_seq = c.p_seq
		JOIN member b
		ON d.m_id = b.m_id
		WHERE l_seq = #{l_Seq}
	</select>
	
	<delete id="delete">
		delete from link where l_seq = #{l_Seq}
	</delete>
	
	<update id="updateEnter">
		update link set l_enter = #{l_Enter} where l_seq = #{l_Seq}
	</update>
	
	<update id="updateStatus">
		update link set l_status = 'write' where l_seq = #{l_Seq}
	</update>
	
	<select id="getExpertAddInfo" resultType="kosta.soomgosusta.domain.ExpertInfoVO">
		select * from e_info where p_Seq = #{p_Seq}
	</select>
	
	<select id="getRequestInfo" resultMap="Request">
		select * from request where m_id = #{m_Id} 
	</select>

	<insert id="insertLink">
		insert into link values(link_seq.nextval,#{r_Seq},sysdate,'NOT',#{l_Percent},'NOT',#{e_Id})
	</insert>
	
	<resultMap type="kosta.soomgosusta.domain.LinkVO" id="LinkMap">
		<result column="l_seq" property="l_Seq"/>
		<result column="r_seq" property="r_Seq"/>
		<result column="l_date" property="l_Date"/>
		<result column="l_percent" property="l_Percent"/>
		<result column="e_id" property="e_Id"/>
		<result column="l_enter" property="l_Enter"/>
		<result column="l_status" property="l_Status"/>
		<collection property="member" resultMap="Member"/>
		<collection property="part" resultMap="Part"/>
		<collection property="request" resultMap="Request"/>
		<collection property="expert" resultMap="Expert"/>
	</resultMap>
	
	<resultMap type="kosta.soomgosusta.domain.MemberVO" id="Member">
		<result column="m_id" property="m_Id"/>
		<result column="m_password" property="m_Password"/>
		<result column="m_name" property="m_Name"/>
		<result column="user_divide" property="user_Divide"/>
		<result column="m_photo" property="m_Photo"/>
	</resultMap>
	
	<resultMap type="kosta.soomgosusta.domain.PartVO" id="Part">
		<result column="p_seq" property="p_Seq"/>
		<result column="p_image" property="p_Image"/>
		<result column="p_l_word" property="p_L_Word"/>
		<result column="p_m_word" property="p_M_Word"/>
		<result column="p_s_word" property="p_S_Word"/>
	</resultMap>

	<resultMap type="kosta.soomgosusta.domain.RequestVO" id="Request">
		<result column="r_seq" property="r_Seq"/>
		<result column="m_id" property="m_Id"/>
		<result column="p_seq" property="p_Seq"/>
		<result column="r_qa_01" property="r_QA_01"/>
		<result column="r_qa_02" property="r_QA_02"/>
		<result column="r_qa_03" property="r_QA_03"/>
		<result column="r_qa_04" property="r_QA_04"/>
		<result column="r_qa_05" property="r_QA_05"/>
		<result column="r_qa_06" property="r_QA_06"/>
		<result column="r_qa_07" property="r_QA_07"/>
		<result column="r_qa_08" property="r_QA_08"/>
		<result column="r_qa_09" property="r_QA_09"/>
		<result column="r_qa_10" property="r_QA_10"/>
		<result column="r_qa_11" property="r_QA_11"/>
		<result column="r_qa_12" property="r_QA_12"/>
		<result column="r_qa_13" property="r_QA_13"/>
		<result column="r_qa_14" property="r_QA_14"/>
		<result column="r_qa_15" property="r_QA_15"/>
		<result column="r_date" property="r_Date"/>
		<result column="r_status" property="r_Status"/>
		
	</resultMap>
	
	<resultMap type="kosta.soomgosusta.domain.ExpertVO" id="Expert">
		<result column="e_id" property="e_Id"/>
		<result column="e_password" property="e_Password"/>
		<result column="e_name" property="e_Name"/>
		<result column="user_divide" property="user_Divide"/>
		<result column="e_photo" property="e_Photo"/>
		
	</resultMap>
	
	
	
	
	
</mapper>