<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosta.soomgosusta.mapper.MemberMapper">

	<insert id="register">
		insert into member values(#{m_Id},#{m_Password},'member',
		'default_userImg','address',#{m_Name})
	</insert>
	
	<select id="login" parameterType="String" resultType="kosta.soomgosusta.domain.MemberVO">
		select * 
		from Member
		where m_Id=#{login_Id}
	</select>
	
	<select id="findMember" parameterType="String" resultType="kosta.soomgosusta.domain.MemberVO">
		select * 
		from Member
		where m_Id=#{login_Id}
	</select>
	
	
</mapper>
