<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosta.soomgosusta.mapper.ReviewMapper">

	<insert id="register">
		insert into Review values(review_seq.nextval,sysdate,#{re_StarPoint},
		#{re_Contents},1,'hj123@naver.com',#{e_Id})
	</insert>
	
	<select id="get" resultType="kosta.soomgosusta.domain.ReviewVO">
		select * from Review where re_seq =#{re_seq}
	</select>
	
	<delete id="delete">
		delete from Review where re_seq = #{re_seq}
	</delete>
	
	<update id="update">
		update Review set re_Date = sysdate, re_Contents = #{re_Contents},
		 re_StarPoint = #{re_StarPoint}
		 where re_Seq = #{re_seq}
	</update>
	
	<select id="getListWithPaging" resultType ="kosta.soomgosusta.domain.ReviewVO">
	
	<![CDATA[
 	select  e_Id, re_seq, m_id,re_StarPoint, re_contents, m_seq,re_date
 	from 
   	(
   		select /*+INDEX(review idx_review)*/
		rownum rn, e_Id, re_seq, m_id,re_StarPoint, re_contents, m_seq,re_date
		from review
		where e_Id=#{e_Id}
		and re_seq>0
    and rownum <= #{cri.pageNum} * #{cri.amount}
   	) where rn > (#{cri.pageNum} -1) * #{cri.amount}
	]]>
	</select> 
	
	<select id="getCountByEid" resultType="int">
	<![CDATA[
	select count(re_seq) from review where e_Id =#{e_Id}
	]]>
	</select>
	
	
	
</mapper>
