<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosta.soomgosusta.mapper.ReviewMapper">

	<insert id="register">
		insert into Review values(review_seq.nextval,sysdate,#{re_StarPoint},
		#{re_Contents},1,#{m_Id},#{e_Id})
	</insert>
	
	<select id="get" resultType="kosta.soomgosusta.domain.ReviewVO">
		select * from Review where re_Seq =#{re_Seq}
	</select>
	
	<delete id="delete">
		delete from Review where re_Seq = #{re_Seq}
	</delete>
	
	<update id="update">
		update Review set re_Date = sysdate, re_Contents = #{re_Contents},
		 re_StarPoint = #{re_StarPoint}
		 where re_Seq = #{re_Seq}
	</update>
	
	<select id="getListWithPaging" resultMap ="ReviewMap">
	
	<![CDATA[
 	select E_ID, RE_SEQ, M_ID, RE_STARPOINT, RE_CONTENTS, M_SEQ,RE_DATE
     from 
      (
         select /*+INDEX(review idx_review)*/
      rownum rn, e_Id, re_seq, m_id,re_StarPoint, re_contents, m_seq,re_date
      from review 
      where e_Id=#{e_Id}
      and re_seq>0
       and rownum <= #{cri.pageNum} * #{cri.amount}
      ) where rn > (#{cri.pageNum} -1) * #{cri.amount} and e_Id=#{e_Id}
	]]>
	</select> 
		
	<select id="getCountByEid" resultType="int">
	<![CDATA[
	select count(re_seq) from review where e_Id =#{e_Id}
	]]>
	</select>
	
	
	<select id="findMatch" parameterType="HashMap" resultType="int">
		select count(*) from Match where m_Id=#{m_Id} and e_Id=#{e_Id}
	</select>
	
	<select id="getMember" resultType="kosta.soomgosusta.domain.MemberVO">
		select * from member where m_Id =#{m_Id}
	</select>
	
	
	<resultMap type="kosta.soomgosusta.domain.ReviewVO" id="ReviewMap">
	<result column="re_seq" property ="re_Seq"/>
	<result column="re_date" property ="re_Date"/>
	<result column="re_starpoint" property ="re_StarPoint"/>
	<result column="re_contents" property ="re_Contents"/>
	<result column="m_id" property ="m_Id"/>
	<result column="e_id" property ="e_Id"/>
	<collection property="member" resultMap="Member"/>
	</resultMap>
	
	
	<resultMap type="kosta.soomgosusta.domain.MemberVO" id="Member">
      <result column="m_id" property="m_Id"/>
      <result column="m_password" property="m_Password"/>
      <result column="m_name" property="m_Name"/>
      <result column="user_divide" property="user_Divide"/>
      <result column="m_photo" property="m_Photo"/>
   </resultMap>
	
	
</mapper>
