<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kosta.soomgosusta.mapper.SchedulerMapper">

	<select id="detailExpert" parameterType="String" resultType="kosta.soomgosusta.domain.ExpertVO">
		SELECT * FROM EXPERT WHERE E_ID = #{e_Id}
	</select>
	
	<select id="detailExInfo" parameterType="String" resultType="kosta.soomgosusta.domain.ExpertInfoVO">
		SELECT * FROM E_INFO WHERE E_ID = #{e_Id}
	</select>
	
	<resultMap type="kosta.soomgosusta.domain.SchedulerMatchDTO" id="listMatchInfo">
		<result column="S_SEQ" property="s_Seq"/>
		<result column="S_CONTENTS" property="s_Contents" />
		<result column="S_SD" property="s_Sd" />
		<result column="S_ED" property="s_Ed" />
		<result column="S_PLACE" property="s_Place" />
		<result column="S_COLOR" property="s_Color" />
		<result column="S_MEMO" property="s_Memo" />
		<result column="M_ID" property="m_Id" />
		<result column="M_NAME" property="m_Name" />
		<result column="M_PHOTO" property="m_Photo" />
	</resultMap>
	
	<select id="listSchedule" parameterType="String" resultMap="listMatchInfo">
		SELECT s.S_SEQ, s.S_CONTENTS, s.S_SD, s.S_ED, s.S_PLACE, s.S_COLOR, s.S_MEMO, mc.M_ID, m.M_NAME, m.M_PHOTO
		FROM SCHEDULE s
		JOIN MATCH mc
		ON s.M_SEQ = mc.M_SEQ
		JOIN MEMBER m
		ON mc.M_ID = m.M_ID
		WHERE mc.E_ID = #{e_Id}
		AND mc.M_STATUS = 'ing'
	</select>
	
	<insert id="insertSchedule" parameterType="kosta.soomgosusta.domain.ScheduleVO">
		INSERT INTO SCHEDULE VALUES(SCHEDULE_SEQ.NEXTVAL, #{s_Contents}, #{s_Sd}, #{s_Ed}, #{s_Place}, #{s_Color}, #{s_Memo}, #{m_Id}, #{e_Id})
	</insert>
	
	<select id="detailPart" parameterType="String" resultType="String">
		SELECT p.P_S_WORD
		FROM PART p
		JOIN E_INFO e
		ON p.P_SEQ = e.P_SEQ
		WHERE e.E_ID = #{e_Id}
	</select>
	
	<delete id="deleteSchedule" parameterType="int">
		DELETE FROM SCHEDULE WHERE s_Seq = #{s_Seq}
	</delete>
	
	<select id="detailSchedule" parameterType="int" resultType="kosta.soomgosusta.domain.ScheduleVO">
		SELECT * FROM SCHEDULE WHERE s_Seq = #{s_Seq}
	</select>
	
	<update id="updateSchedule" parameterType="kosta.soomgosusta.domain.ScheduleVO">
		UPDATE SCHEDULE SET S_SD = #{s_Sd}, S_ED = #{s_Ed}, S_CONTENTS = #{s_Contents}, S_COLOR = #{s_Color},
		S_PLACE = #{s_Place}, S_MEMO = #{s_Memo}
		WHERE S_SEQ = #{s_Seq}
	</update>
	
	<select id="listFaq" parameterType="String" resultType="kosta.soomgosusta.domain.FaqVO">
		SELECT * FROM FAQ WHERE e_Id = #{e_Id}
	</select>

	<select id="listExpert" parameterType="String" resultType="String">
		SELECT e_Id FROM MATCH WHERE M_Id = #{m_Id}
	</select>
	
	<insert id="insertFaq" parameterType="kosta.soomgosusta.domain.FaqVO">
		INSERT INTO FAQ VALUES(FAQ_SEQ.NEXTVAL, #{f_Contents}, sysdate, #{s_Seq})
	</insert>
</mapper>
