<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosta.soomgosusta.mapper.RecommendMapper">

<select id="recommendInfo" parameterType="String" resultType="kosta.soomgosusta.domain.MemberInfoVO">
  select m_ip1, m_ip2, m_ip3 from m_info where m_Id = #{m_Id} 
</select>

</mapper>
 